@import "base.css";
html {
    font-size: 100px; }

body {
    font-size: 16px; }

@media screen and (min-width: 320px) {
    html {
        font-size: 42.66667px; } }

@media screen and (min-width: 360px) {
    html {
        font-size: 48px; } }

@media screen and (min-width: 375px) {
    html {
        font-size: 50px; } }

@media screen and (min-width: 412px) {
    html {
        font-size: 54.93333px; } }

@media screen and (min-width: 414px) {
    html {
        font-size: 55.2px; } }
.head{
    width: 100%;
    height: 0.88rem;
    padding: 0 0.22rem;
    box-sizing: border-box;
    font-size: 0.38rem;
    line-height: 0.88rem;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 3px 43px 0px  rgba(41, 167, 255, 0.13);
}
.head >span{
    color: #4ebbfe;
}
.head >a{
    color: #4ebbfe;
}
.maintop{
    width: 100%;

    padding: 0 0.22rem;
    box-sizing: border-box;
    font-size: 0.38rem;
}
.order{
    height: 0.52rem;
    display: flex;
    justify-content: space-around;
    color: #4ebbfe;
    font-size: 0.22rem;
    line-height: 0.52rem;
    margin: 0.2rem 0;
}

.order li{
    width: 1.6rem;
    background: #B5EAFE;
    border-radius: 10%;
    text-align: center;
    color: #4ebbfe;
}
.order a:nth-child(2) > li{
    background: #4ebbfe;
    color: white;
}
.searchtop{
    padding: 0 0.22rem;
}
.searchtop img{
    width: 100%;
    height: 0.68rem;

}
.list{
    width: 100%;
    padding: 0 0.22rem;
    box-sizing: border-box;
    font-size: 0.38rem;
}
.list li{
    margin-bottom: 0.2rem;
}
.list .scroll .listItem{
    height: 1.74rem;
    margin-bottom: 0.66rem;
}
.listItem >a {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
}
.thumb{
    height: 1.74rem;
    width: 1.74rem;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0.2rem;
    box-sizing: border-box;
}
.info{
    height: 1.74rem;
    margin-left: 1.74rem;
    padding-left: 0.26rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.info .aaa{
    color: #a4e0bd;
    font-size: 0.2rem;
}
.info .aaa img{
    width: 0.22rem;
    height: 0.22rem;
}
.info >h1{
    font-size: 0.3rem;
    color: rgba(0,0,0,0.6);
    font-weight: normal;
    /*line-height: 50%;*/
}
.info .score{
    font-size: 0.22rem;
    color: rgba(0,0,0,0.3);
    /*line-height: 100%;*/
}
.info .score >span{
    position: relative;
    padding-left: 0.14rem;
    margin-right: 0.38rem;
}
.info .score >span::before{
    content: '';
    position: absolute;
    width: 0.06rem;
    height: 0.06rem;
    left: 0;
    top: 0.14rem;
    border-radius: 50%;
    background: #4ebbfe;
}
.info .score strong{
    font-size: 0.26rem;
    color: #36a8fe;
}
.info .info2{
    color: #cfcfcf;
    font-size: 0.2rem;
}
.info .info2 img{
    width: 0.3rem;
    height: 0.3rem;
}
.info .info1 span{
    font-size: 0.22rem;
    color: #C1CFFE;
}

.info .tag span{
    color:#36a8fe ;
    background: rgba(20,134,220,0.2);
    border-radius: 0.18rem;
    font-size: 0.24rem;
}
.info .tag .tagright{
    float: right;
    background: rgba(20,134,220,0.8);
    color: white;
    border-radius: 0.08rem;
    width: 1.24rem;
    height: 0.46rem;
    text-align: center;
    line-height: 0.46rem;
}
.info .price{
    font-size: 0.26rem;
    color: #fbb548;
}